.on {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.off {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

button {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}